.background_main{
    background-color: rgb(105, 178, 170);
    background-size: cover;
    height: 200vh;
    opacity: 0.8;
    text-align: center;
}
.all{
    position: sticky;

}
.cc{
    border-color: #000000;
}
.card-hover:hover{
    height: 38vh;
    width: 28vw;
}
.head-main{
    /* background: linear-gradient(120deg, #8e44ad, #3498db, #1abc9c); */
    background-color: #0099ff;
    height: 10vh;
    
}
.in-line{
    display: flex;
    padding: 6px;
    
}
.main-heading {
    font-size: 20px;
    text-shadow: 90px;
    margin: 10px;
    color: #000000;
    margin-top: 18px;

}
.heading {
    margin-right: 30px;
    font-size: 20px;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
}

.vit-logo {
    /* background-image: url("https://i.ibb.co/Cm04CR4/vishnu-logo.jpg"); */
    height: 55px;
    border-radius:100%;
    margin-right: 10px;
    margin-left: 30px;
    /* margin: 20px; */
    margin-bottom: 60px!important;

    animation: beating 0.8s infinite;
   
}


.main-logo {
    height: 55px;
    width: 60px;
    border-radius:100%;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px!important;
}
.values{
    
    font-size: medium;
    padding-top: 2px;
}
.values1{
    margin-right: 9px;
    font-size: medium;

}
.red-green1{
    background-color: red;
    border-radius: 50%;
    height: 4vh;
    width: 2vw;
    margin-right: 20px;
    margin-left: 40px;
}
.red-green{
    background-color: green;
    border-radius: 50%;
    height: 4vh;
    width: 2vw;
    margin-left: 3px;
}

.margin-hamber{
    margin: 39px;
    margin-right: 20px;
}
.title{
    background-color: rgb(237, 246, 246);
    height: 50px;
    width: 30vw;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
.card-height{
    padding: 10px;
    height: 35vh;
    width: 160vw;
    margin: 30px;
    color: white!important;
    background-color: rgb(21, 24, 24)!important;
    text-align: center;
}
.color{
    margin-right: 10px;
}
.hum{
    margin-right: 56px;
}
.temp{
    margin-right: 25px;
}
.temp13{
    margin-right: 60px;
}
.text-cent{
    margin-left: 25vh;
}
.date-picker{
    width: 30px;
    margin-top: 4px;
}
.text-12{
   margin-left: 15vw;
}
.hiii{
    margin-right: 10px;
    margin-top: 4px;
}
.card-1{
 margin-top: 30px;
 width: 70vw;
 padding: 10px;
}
.input-1{
    margin-left: 2.5vw;
}



/* Default styles for all screen sizes */
body {
    font-size: 16px;
    background-color: #ffffff;
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
      background-color: #f0f0f0;
    }
  }
  
  /* Media query for screens with a maximum width of 480px */
  @media screen and (max-width: 480px) {
    body {
      font-size: 12px;
      background-color: #e0e0e0;
    }
  }
  